# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug
/ipch
/AntUtils/stdafx.h
/AntUtils/targetver.h
/AntUtils/Debug
/AntUtils/Release
/AntUtils/AntUtils.vcxproj
/AntUtils/AntUtils.vcxproj.filters
/AntUtils.Test/AntUtils.Test.vcxproj.filters
/AntUtils.Test/Debug
/AntUtils.Test/AntUtils.Test.vcxproj
